@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-poppins: "Poppins";
  --font-ubuntu: "Ubuntu";
  --font-varela_round: "Varela Round";
  --font-edu-qld: "Edu QLD Hand";
  --navbar-height: 3.75rem;
  --gap-navbar-content: 28px;
  --main-screen-padding-horizontally: 2.5rem;
  --main-screen-padding-vertically: 2rem;

  /* Theme variables for easier access */
  --background: var(--background);
  --foreground: var(--foreground);
  --container-background: var(--container-background);
  --primary: var(--primary-color);
  --active: var(--active-color);
  --card-background: var(--card-background);
  --card-icon-background: var(--card-icon-background);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-container-background: var(--container-background);
  --color-primary: var(--primary-color);
  --color-active: var(--active-color);
  --font-sans: var(--font-poppins);
  --font-ubuntu: var(--font-ubuntu);
  --font-varela-round: var(--font-varela_round);
  --font-edu-qld: var(--font-edu-qld);
  --color-card-background: var(--card-background);
  --color-card-icon-background: var(--card-icon-background);
}

body {
  padding: 0 var(--main-screen-padding-horizontally) !important;
}

.dark-theme {
  --background: #0f0f0f;
  --foreground: #fff;
  --container-background: #ffffff1a;
  --primary-color: #8028bf;
  --active-color: #bb5bff;
  --card-background: #1e2939;
  --card-icon-background: #67249b8a;
}

.light-theme {
  --background: #fceffa;
  --foreground: #171717;
  --container-background: #fff;
  --primary-color: #8028bf;
  --active-color: #bb5bff;
  --card-background: #ffff;
  --card-icon-background: #8028bf;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}

/* For Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust width */
  border-radius: 10px; /* Round scrollbar itself */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px; /* Round the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px; /* Round the scrollbar handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: darken(var(--primary-color), 10%);
}

.glowing-container {
  background: radial-gradient(circle, var(--color-primary), transparent 80%);
  filter: blur(100px);
  opacity: 0.7;
  z-index: -1;
  animation: pulse 4s ease-in-out infinite;
  pointer-events: none;
} 

@keyframes pulse {
  0%,
  100% {
    opacity: 0.7;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(3.5);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
