@import "tailwindcss";

:root {
  --background: #fceffa;
  --foreground: #171717;
  --container-background: #fff;
  --font-poppins: "Poppins";
  --font-ubuntu: "Ubuntu";
  --primary-color: #8028bf;
  --active-color: #bb5bff;
  --navbar-height: 9rem;
  --gap-navbar-content: 28px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-container-background: var(--container-background);
  --color-primary: var(--primary-color);
  --color-active: var(--active-color);
  --font-sans: var(--font-poppins);
  --font-ubuntu: var(--font-ubuntu);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #fff;
    --container-background: #ffffff1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}

/* For Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust width */
  border-radius: 10px; /* Round scrollbar itself */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px; /* Round the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px; /* Round the scrollbar handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: darken(var(--primary-color), 10%);
}

.glowing-container {
  background: radial-gradient(circle, var(--color-primary), transparent 80%);
  filter: blur(100px);
  opacity: 0.7;
  z-index: -1; /* So it stays in the background */
  animation: pulse 4s ease-in-out infinite;
  pointer-events: none;
  transform: scale(1.5);
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.7;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
}

.star {
  position: absolute;
  width: 5px;
  height: 60px;
  transform: rotate(45deg) translateX(-50%);
  background: linear-gradient(to bottom, var(--foreground), transparent);
  animation: fall 3s linear infinite;
  opacity: 0.8;
  transform: rotate(45deg);
}

@media screen and (max-width: 600px) {
  .star {
    animation: fall 3s linear infinite;
  }
  @keyframes fall {
    0% {
      transform: translate(0vw, 0vh) rotate(45deg);
      opacity: 1;
    }
    100% {
      transform: translate(-50vw, 100vh) rotate(45deg);
      opacity: 0;
    }
  }
}

.star:nth-child(1) {
  top: -10%;
  left: 20%;
  animation-delay: 0s;
}

.star:nth-child(2) {
  top: -10%;
  left: 50%;
  animation-delay: 0.5s;
}

.star:nth-child(3) {
  top: -10%;
  left: 80%;
  animation-delay: 1s;
}

.star:nth-child(4) {
  top: -10%;
  left: 10%;
  animation-delay: 1.5s;
}

.star:nth-child(5) {
  top: -10%;
  left: 70%;
  animation-delay: 2s;
}

.star:nth-child(6) {
  top: -10%;
  left: 30%;
  animation-delay: 2.5s;
}

.star:nth-child(7) {
  top: -10%;
  left: 90%;
  animation-delay: 3s;
}

.star:nth-child(8) {
  top: -10%;
  left: 40%;
  animation-delay: 3.5s;
}

.star:nth-child(9) {
  top: -10%;
  left: 60%;
  animation-delay: 4s;
}

.star:nth-child(10) {
  top: -10%;
  left: 25%;
  animation-delay: 4.5s;
}

@keyframes fall {
  0% {
    transform: translate(20vw, 0vh) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50vw, 100vh) rotate(45deg);
    opacity: 0;
  }
}
